{% extends "blog/base.html" %}
{% block content %}
<body>
    <ul class="list-unstyled">
        <li><h6>University name:</h6></li>
        <li><h5>Daffodil International University</h5></li>
  <p>DIU Green Campus is a movement, the first of its kind in Bangladesh, which was launched in 2002 by Daffodil International University (DIU). The initiatives of this movement are helping to shape our university as a model environmental community where academic programs and environmentally responsible behavior by all stakeholders go hand in hand. This movement aims to promote eco-friendly ‘green projects’ in order to ensure a greener, cleaner, safer and healthier campus for us to work and live in.</p>


</ul>
    <br/>
    <h6>Explore Permanent campus</h6><br/>
    <iframe width="700" height="315" src="https://www.youtube.com/embed/3SJf1Ibnblc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </iframe>
    <br/>

<br/>
<br/>
<br/>
<br/>
<!--university-->
<ul class="list-unstyled">
        <li><h6>University name:</h6></li>
        <li><h5>Harvard University</h5></li>
  <p></p>


</ul>
    <h6>A day in life of a Harvard University</h6><br/>
    <iframe width="700" height="315" src="https://www.youtube.com/embed/xfIyAdKA1Do" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br/>

<br/>
<br/>
<br/>
<br/>

<!--university-->
<ul class="list-unstyled">
        <li><h6>University name:</h6></li>
        <li><h5>Standform University</h5></li>
  <p></p>


</ul>
    <h6>Big questions to standford student</h6><br/>
    <iframe width="700" height="315" src="https://www.youtube.com/embed/IK12_qr8CgQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br/>

<br/>
<br/>
<br/>
<br/>

<!--university-->
<ul class="list-unstyled">
        <li><h6>University name:</h6></li>
        <li><h5>University College London</h5></li>
  <p></p>


</ul>
    <h6>Big questions to standford student</h6><br/>
    <iframe width="700" height="315" src="https://www.youtube.com/embed/DelCfmaQ7Ig" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br/>

<br/>
<br/>
<br/>
<br/>
<!--university-->
<ul class="list-unstyled">
        <li><h6>University name:</h6></li>
        <li><h5>Massachusetts Institute of Technology</h5></li>
  <p></p>


</ul>
    <h6>Big questions to standford student</h6><br/>
    <iframe width="700" height="315" src="https://www.youtube.com/embed/elmZ-SFw5a4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br/>

<br/>
<br/>
<br/>
<br/>
{% endblock content %}

