{% extends "blog/base.html" %}
{% block content %}



<h2>Answer these questions first</h2>
<p>These questions are designed to know the current situation of your mental health. By answering these question you are helping us to give you the solution.</p>



<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Select your gender</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">1. Do you complete homework within deadlines?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">2. Are you taking part in class discussions?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">3. Over the last 6 months, how frequently have you felt so worried about something that you were unable to sleep at night?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">4. Over the last 6 months, how frequently have you felt alone or lonely?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">5. Over the last 6 months, how often did you seriously consider attempting suicide?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">6. How many close friends would you say you have?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">7. Have you ever experienced a terrible occurrence that has impacted you significantly?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">8. Do you ever feel that you’ve been affected by feelings of edginess, anxiety, or nerves?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">9. Have you experienced a week or longer of lower-than-usual interest in activities that you usually enjoy? Examples might include work, exercise, or hobbies.</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">10. Have you ever experienced an ‘attack’ of fear, anxiety, or panic?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">11. Do feelings of anxiety or discomfort around others bother you?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">12. Tell me about your sleeping habits over the past 6 months. Have you noticed any changes? Difficulty sleeping? Restlessness? How about the quality of your sleep?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">13. How would you describe your appetite over the past 6 weeks? Have your eating habits altered in any way?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">14. Could you tell me about any times over the past few months that you’ve been bothered by low feelings, stress, or sadness?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">15. How frequently have you had little pleasure or interest in the activities you usually enjoy?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">16. How often during the past 6 months have you felt as though your moods, or your life, were under your control?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">17. How frequently have you been bothered by not being able to stop your worrying?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">18. Tell me about how confident you have been feeling in your capabilities recently?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">19. Let’s talk about how often you have felt satisfied with yourself over the past 6 months.</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">20. How often have you felt as though the future was bleak, over the past few weeks?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">21. Can you tell me about your hopes and dreams for the future? What feelings have you had recently about working towards those goals?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">22. Describe how ‘supported’ you feel by others around you – your friends, family, or otherwise?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">23. Let’s discuss how you have been feeling about your relationships recently.</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">24. Tell me about any important activities or projects that you’ve been involved with recently. How much enjoyment do you get from these?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">25. How frequently have you been doing things that mean something to you or your life?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">26. Have your sleeping habits changed? Do you wake up and fall asleep at regular times? When you sleep, how would you describe the quality of your rest?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">27. Are you having trouble focusing at work or school? Can you concentrate on the things you want to do? Do you find pleasure in things that usually make you happy?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">28. Are you socializing with your friends as much as you usually do? How about spending time with your family? Are you withdrawing or pulling away from those around you who matter?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">29. Do you feel like you're maintaining a healthy balance between leisure, yourself, your career, physical activity, and those you care about? How about other things that matter to you?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">30. How do you feel most of the time? Happy? Anxious? Satisfied? Sad?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">31.What are your energy levels like when you finish your day? Are there any significant changes in your tiredness?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">32. Are you having any extreme emotions or mood swings? Any suicidal thoughts, breakdowns, or panic attacks?</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br/>
  <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>

  <br/>
  <br/>
  <br/>
  <br/>
</form>

</body>
</html>
{% endblock content %}